<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463889591447-vao4l9g1m3at7fa6tea9be3ph8a0q4bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463889591447-vao4l9g1m3at7fa6tea9be3ph8a0q4bh</string>
	<key>API_KEY</key>
	<string>AIzaSyBhP2L9C2zUMQ-KTKMkmsl_4u-aqCTlSdU</string>
	<key>GCM_SENDER_ID</key>
	<string>463889591447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.peanutbutter.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-7db89</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-7db89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463889591447:ios:ba2fbb5e03301f598c4dd2</string>
</dict>
</plist>